html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.wrapper {
	width: 665px;
	height: 600px;
	padding: 5px;
	margin: 0 auto;
	background-color: #ddf;
}
.leftWrapper {
	width: 145px;
	height: 585px;
	padding: 5px;
	float: left;
	margin: 0 auto;
	background-color: #abc;
}
.rightWrapper {
    width: 500px;
    height: 585px;
    padding: 5px;
	float: right;
    background-color: #abc;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
.banner {
    height: 115px;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 100px;
    margin: 5px 0px;
}
#userList {
	top: 2px;
	height: 445px;
	background-color: #fff;
	overflow: auto;
	padding: 2px;
}
#historyMsg {
    height: 480px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
.timespan {
    color: #ddd;
}
#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;
}
#sendBtn {
	-webkit-appearance: none;
    width: 50px;
    height: 96px;
	background-color: #f0f6f4;
    float: right;
}
footer {
    text-align: center;
}
